<mat-nav-list role="list">
    <a mat-list-item routerLink="/home">
        <mat-icon matListIcon>home</mat-icon>
        Home
    </a>
    <a mat-list-item routerLink="/asset">
        <mat-icon matListIcon>headset</mat-icon>
        Asset
    </a>
    <a mat-list-item routerLink="/asset/create">
        <mat-icon matListIcon>add</mat-icon>
        Create
    </a>
    <a mat-list-item routerLink="/about">
        <mat-icon matListIcon>menu_book</mat-icon>
        About
    </a>
</mat-nav-list>
  